@model UniversityWebsite.Models.Volunteer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Service.Service_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.Service_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.First_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Volunteer_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
