@model UniversityWebsite.Models.Help
@{
    ViewBag.Title = "Help";


}


@if (Session["UserType"].Equals("Admin"))
{
    <br />
    <p>
        <input type="button" class="btn btn-primary" value="Back to dashboard" onclick="location.href='@Url.Action("AdminDashBoard","Admins")'" />
    </p>
}


@if (Session["UserType"].Equals("User"))
{
    <br />
    <p>
        <input type="button" class="btn btn-primary" value="Back to dashboard" onclick="location.href='@Url.Action("UserDashBoard","Users")'" />
    </p>
}




@if (Session["UserType"].Equals("User"))
{

    <div style="margin-top: 10px">
        <input type="button" value="NEW" id="new" />&nbsp;&nbsp;
        <input type="button" value="History" id="history" />
    </div>
    <hr />
}

<div id="new-content">
    @using (Html.BeginForm("Help", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        if (!User.IsInRole("IsAdmin"))
        {
            <h4>Enter the Details</h4>
        }
        else
        {
            <h4>Enter the Solution.</h4>
        }
        <hr />

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.Issue, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Issue, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DOT, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.DOT, new { htmlAttributes = new { @class = "datefield", type = "date" } })
            </div>
        </div>

        if (Model != null && Model.HelpId != Guid.Empty)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.AdminResolution, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.AdminResolution, new { @class = "form-control" })
                </div>
            </div>

            @Html.HiddenFor(m => m.HelpId)
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default btn-primary" value="Submit" />
            </div>
        </div>
    }
</div>


<hr />

<div id="history-content" style="display: none;">@Html.Action("History")</div>

<script>
    document.getElementById('new').addEventListener('click', () => {
        document.getElementById('new-content').style.display = 'block';
        document.getElementById('history-content').style.display = 'none';
    });
    document.getElementById('history').addEventListener('click', () => {
        document.getElementById('new-content').style.display = 'none';
        document.getElementById('history-content').style.display = 'block';
    });
</script> 