@model UniversityWebsite.Models.Idea_User_Relation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Idea_User_Relation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Idea.Idea_Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idea.Idea_Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Idea_Relation_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
