@model UniversityWebsite.Models.Idea

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Idea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Club.Club_Name)
        </dt>

        <dd>
            @ViewBag.ClubName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdeaCategory.Name)
        </dt>

        <dd>
            @ViewBag.CategoryName
        </dd>

        <dt>
            Posted by
        </dt>

        <dd>
            @ViewBag.UserName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idea_Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idea_Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posted_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posted_Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
