@model IEnumerable<UniversityWebsite.Models.Club_User_Relation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Club.Club_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Joined_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Club.Club_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Joined_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Relation_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Relation_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Relation_Id })
        </td>
    </tr>
}

</table>
