@model IEnumerable<UniversityWebsite.Models.OtherMemberViewModelcs>

<h2>Ongoing Members</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
      
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
