@model IEnumerable<UniversityWebsite.Models.Grievance>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag.Title = "Admin Index";
}


<br />
<p>
    <input type="button" class="btn btn-primary" value="Back to dashboard" onclick="location.href='@Url.Action("AdminDashBoard","Admins")'" />
</p>



<h2>Admin Index</h2>
<h2>Pending Complaints/Suggestions</h2>
<h4> @Html.ActionLink("History Of  Complaints/Suggestions", "List", "Grievances")</h4>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Grievance_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sub_Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expected_Resolution_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_On)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Grievance_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sub_Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expected_Resolution_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin_Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_On)
            </td>
            <td>
                @Html.ActionLink("Resolve", "Resolve", new { id = item.Grievance_Id })

            </td>
        </tr>
    }

</table>