@model IEnumerable<UniversityWebsite.Models.Grievance>

@{
    ViewBag.Title = "Reports  Of  Complaints/Suggestions ";
}

<br />
<p>
    <input type="button" class="btn btn-primary" value="Back to dashboard" onclick="location.href='@Url.Action("AdminDashBoard","Admins")'" />
</p>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.Label("Enter From Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("fromdate", new { htmlAttributes = new { @class = "datefield", type = "date" , required = "required" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Enter To Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Todate", new { htmlAttributes = new { @class = "datefield", type = "date" , required = "required" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="filterButton" value="Filter" class="btn btn-default" />

            </div>
        </div>
    </div>

}


<h3>@ViewBag.Message</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sub_Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expected_Resolution_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_On)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sub_Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expected_Resolution_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin_Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_On)
            </td>

        </tr>
    }

</table>
