@model UniversityWebsite.Models.Volunteer

@{
    ViewBag.Title = "Participation Details";
}


@if (Model != null && !String.IsNullOrEmpty(Model.Volunteer_Id.ToString()))
{
    if (ViewBag.Flag == "AlreadyExist")
    {

        <div>
            <h1>Participation Details</h1>
            <h2 >User Is Alredy Participated In the Social Service  !!!</h2>
            <h2>History</h2>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Participation Id
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Volunteer_Id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Service.Service_Id)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Service.Service_Id)
                </dd>



                <dt>
                    @Html.DisplayNameFor(model => model.User_Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User_Id)
                </dd>

            </dl>

            <hr />
        </div>


    }
    else
    {
        <div>
            <h1>Participation Details</h1>
            <h2 style="color:lawngreen">User Is Participated In the Social Service  !!!</h2>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Participation Id
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Volunteer_Id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Service.Service_Id)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Service.Service_Id)
                </dd>



                <dt>
                    @Html.DisplayNameFor(model => model.User_Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User_Id)
                </dd>

            </dl>
        </div>

    }
}
else
{


    <h1>Participation Details</h1>
    <h2>Details not found!!!</h2>


}
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
