@model IEnumerable<UniversityWebsite.Models.Service>
@{
    ViewBag.Title = "UserIndex";
}
@Html.AntiForgeryToken()

@if (Session["UserType"].Equals("Admin"))
{
    <br />
    <p>
        <input type="button" class="btn btn-primary" value="Back to dashboard" onclick="location.href='@Url.Action("AdminDashBoard","Admins")'" />
    </p>

}
@if (Session["UserType"].Equals("User"))
{
    <br />
    <p>
        <input type="button" class="btn btn-primary" value="Back to dashboard" onclick="location.href='@Url.Action("UserDashBoard","Users")'" />
    </p>

}

<h3>@ViewBag.Message</h3>
<h1>Social Service</h1>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Service_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Required_Volunteer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participated_Volunteer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Service_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Required_Volunteer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Participated_Volunteer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start_Date)
            </td>
            <td>

                @if (item.Start_Date.CompareTo(DateTime.Today) < 0)
                {

                    <p> @Html.ActionLink("Details", "Details", new { id = item.Service_Id })</p>
                    <p> Registration Closed</p>

                }
                else
                {

                    <p> @Html.ActionLink("Details", "Details", new { id = item.Service_Id }) </p>
                    <p>
                        @Html.ActionLink("Participate", "Participate", new { id = item.Service_Id })
                    </p>
                }


            </td>
        </tr>
    }

</table>


